# Port to run app on
PORT=3000

# Database credentials
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=
DB_PASSWORD=
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=false

# JWT Authentication secret
JWT_SECRET=